body{
  background-color: white;
}

/* Loading animation CSS */
.loader{
  border: 8px solid black;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 100px auto 0;
  border-top: 8px solid rgb(153, 255, 0);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

/* SIGN IN/UP PAGE CSS */

form{
  text-align: center;
  margin: auto;
  border: 1px solid black;
  border-radius: 40px;
  width: 300px;
  padding: 40px 40px;
  margin-top: 50px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

form > input{
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
}

form > input:focus{
  outline: none;
  border-bottom: 1px solid black;
}

form > input, form > button{
  padding: 10px;
  font-size: 16px;
}

@media only screen and (max-width: 440px){
  form{
    border: none;
  }
}

/* NAVBAR CSS */
nav{
  position: fixed;
  top: 0;
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: rgb(153, 255, 0);
}

nav > div > h1{
  font-size: 40px;
}

nav > .list > #list{
  display: flex;
  text-align: center;
  gap: 20px;
}

nav > .list > #list > div{
  display: flex;
  gap: 20px;
}

nav > .list > #list a{
  color: rgb(153, 255, 0);
  text-decoration: none;
}

nav > .list > #list a:hover{
  cursor: pointer;
}

nav > .list > .toggle{
  display: none;
}

@media only screen and (max-width: 509px){
  nav > .list > .toggle{
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px 40px;
  }

  nav > .list > #list{
    display: none;
    flex-direction: column;
    padding: 40px 0px;
  }

  nav > .list > #list > div{
    flex-direction: column;
  }
}

/* BLOG HOME PAGE CSS */
header{
  display: flex;
  margin: auto;
  width: 650px;
  justify-content: left;
  align-items: center;
  padding: 140px 0px 0px;
}

.content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 650px;
  margin: 0 auto 80px;
}

.content > .box{
  padding: 10px 25px;
  border-radius: 20px;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.5);
}

.content > .box .thumbnail{
  height: 150px;
  width: 158px;
  border-radius: 20px;
}

.content > .box h3{
  color: rgb(153, 255, 0);
}

.content > .box b{
  color: black;
}

.content > .box p{
  color: black;
}

@media only screen and (max-width: 716px){
  header{
    width: 400px;
  }

  .content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 425px;
  }
}

@media only screen and (max-width: 509px){
  header{
    width: 293px;
  }

  .content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 250px;
    gap: 40px;
  }

  .content > .box .thumbnail{
    height: 200px;
    width: 200px;
  }
}

/* CREATE POST PAGE CSS */
.post{
  margin-top: 140px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.post > input, .post > select{
  height: 25px;
  width: 250px;
  border: none;
  border-bottom: 1px solid black;
  font-size: 16px;
}

.post > .desc{
  height: 200px;
  width: 260px;
  resize: none;
  padding: 20px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.post > .option{
  height: 50px;
  width: 275px;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 440px){
  .post{
    border: none;
  }
}

/* ACCOUNT PAGE CSS */
.account{
  text-align: center;
  margin-top: 200px;
}

.account > img{
  width: 200px;
  height: 200px;
  border: solid;
  border-radius: 100px;
}

.myBlog{
  padding: 100px 40px 20px;
}

.myBlog > div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.myBlog > div > button{
  height: 40px;
  width: 80px;
}

/* BLOG DETAIL PAGE CSS */

.blogDetail{
  margin: auto;
  margin-top: 140px;
  padding: 10px 20px;
  width: 800px;
}

.blogDetail > h1{
  font-size: 40px;
}

.blogDetail > h2{
  color: rgb(153, 255, 0);
}

.blogDetail > p > b{
  color: black;
}

.blogDetail > p{
  color: black;
}

.blogDetail > .p{
  margin-top: 40px;
  line-height: 35px;
  color: black;
}

.blogDetail > img{
  margin-top: 40px;
  width: 500px;
  height: 300px;
}

.comments{
  margin: auto;
  margin-top: 10px;
  padding: 10px 20px;
  width: 800px;
}

.comments > #content{
  padding: 0px 80px 40px 80px;
  display: flex;
  gap: 10px;
}

.comments > #content > div > img{
  border: 1px solid black;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin-top: 25px;
}

.addComment{
  padding: 20px 20px;
  width: 800px;
  margin: auto;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addComment > input{
  width: 400px;
  border: none;
  font-size: 16px;
}

.addComment > button{
  border: none;
  width: 80px;
  font-size: 16px;
}

@media only screen and (max-width: 840px){
  .blogDetail{
    width: 600px;
  }

  .comments{
    width: 600px;
  }

  .addComment{
    width: 467px;
  }
}

@media only screen and (max-width: 650px){
  .blogDetail{
    width: 400px;
  }

  .blogDetail > img{
    width: 350px;
    height: 250px;
  }

  .comments{
    width: 400px;
  }

  .addComment{
    width: 400px;
  }

  .addComment > input{
    width: 353px;
    padding: 20px 0px;
  }
}